extend layout
block content
  h2 
    | ActivityStream
  ul
    each act in activities
      li.activity
        span.published
          time
            | #{act.published}
        span.verb
          | #{act.verb}
        span.provider
          | #{act.provider}
        span.payload
          | #{JSON.stringify(act)}

