doctype
html(ng-app="as")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='jquery.js')
    script(src='app.js')
    script(src='xdate.js')
    script(src='raphael-2.1.4-min.js')
    script(src='justgage.1.0.1.min.js')
    link(rel='stylesheet', href='style.css')
  body
    div.navblock(style="float:right")
      if me
        a(href="/post") 
         button Post
        span(href="/as/post") #{me}
      else
        form(action="https://indieauth.com/auth" method="get" id="authform")
          input(id="indie_auth_url" type="text" name="me" placeholder="domain")
          input(type="hidden" name="client_id" value="http://rml.donp.org")
          input(type="hidden" name="redirect_uri" value="http://rml.donp.org/auth")

    block content
