extend layout
block content
  h2
    a(href="/") ActivityStream
    |  Post

  div
    | Hi, #{me}

  form#act(method="post")
    div.timeinput
      input(name="datetime" style="display: none")
      label
        | date
        input(name="date")
      label
        | time
        input(name="time")
    ul.verblist
      li#eat Eat
      li#buy Buy
    div.verbinput
      label
        | verb
        input(name="verb")
    div.verbinput
      label
        | name
        input(name="name")
      div.price(style="display: none")
        | price $
        input(name="price" type="number")

    div.submit
      input(type="submit" value="Create Activity")

  div(style="margin-top: 1em")
    | Sample activitystream json
  pre
    | { "id": "02844b42-c51c-4852-8e64-347b1e38f280" ,
    |   "objectType": "activity"
    |   "verb": "checkin"
    |   "provider": "canary" ,
    |   "published": "2014-07-14T02:13:38-07:00" ,
    |   "object": {
    |          "name": "" ,
    |          "url": ""
    |       }
    | }


  script.
    jQuery(function(){
      console.log("ready")
      var now = new XDate()
      $("form#act input[name='date']").attr('value', now.toString('yyyy-MM-dd'))
      $("form#act input[name='time']").attr('value', now.toString('HH:mm'))

      $('li#eat').click(function(evt){
        doverb('eat')
        $('div.price').hide()
      })
      $('li#buy').click(function(){
        doverb('buy')
        $('div.price').show()
      })

      $('#act').submit(function(evt){
        var tz = "-0" + ((new Date()).getTimezoneOffset() / 60) + ":00"
        var localtime = $("form#act input[name='date']").val() + "T" +
                        $("form#act input[name='time']").val() + tz
        var isotime = new Date(localtime).toISOString()
        $("form#act input[name='datetime']").val(isotime)
        var form = evt.target
      })
    })

    function doverb(verb) {
      $("input[name='verb']").val(verb)
      $("input[name='name']").focus()
    }
