li.activity span {
  margin-right: 0.5em;
}

.connected {
  font-size: 105%;
  color: blue;
}

div.nearby {
  font-size: 75%
}
ul {
  list-style-type: none;
}
ul.verblist li {
  display: inline-block;
  background-color: #ddd;
  padding: 0.5em;
  border-radius: 0.5em;
}
